@font-face {
  font-family: 'myfont';
  src:  url('font/Vazir-Bold-FD.eot') format('woff2'),
        url('font/Vazir-Bold-FD.woff') format('woff');
}

body{
  
	font-family:"myfont";
	text-align:right;
	text-decoration:none;
	direction:rtl;
  max-height: 86vh;	
  margin: 0;
}
*{box-sizing: border-box;}

/*style Home page*/
/*start with navbar and hrizontail list */
.navbar{
  background-color: rgba(0, 0, 0, 0.747);
}
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.navbar li {
  margin-left: 30px;
  position: relative;
  top: 1px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
nav{
  position: relative;
    left: 23px;
}
nav button{
  margin-right: 5px;
}
/*style Home page*/
.wellcom{
  background-color: rgba(8, 7, 7, 0.527);
    height: 570px;
    width: 30%;
    float: right;
    margin-right: 10px;
    margin: auto 10px;
    position: relative;
}
.wellcom h1,p{
  color: #fff;
  position: relative;
  top: 20%;
 /* margin-right: 10px;*/

  }

.wellcom input {
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'myfont';
  cursor: pointer;
  position: absolute;
  top: 64%;
  left: 28%;
  width: 48%;
}
.wellcom input:hover{
  background-color: green;
}
.my-span{
  display: block;
  margin-top: 5px;
  max-width: 200px;
}
.list-menu-pic img{
  width: 200px;

}
.price img{
  width: 22px;
  
}