@font-face {
  font-family: 'myfont';
  src:  url('font/Vazir-Bold-FD.eot') format('woff2'),
        url('font/Vazir-Bold-FD.woff') format('woff');
}

body{
  
	font-family:"myfont";
	text-align:right;
	text-decoration:none;
	direction:rtl;
  max-height: 86vh;	
}
*{box-sizing: border-box;}

/*list style */
.horizon{
  position: absolute;
  top: 5px;
  right: 5px;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;

}
li {
  margin-left: 30px;
  position: relative;

}
a{
  text-decoration: none;
  color:#fff;
}
.has-submenu .submenu{
  display: none;
    position: absolute;
    top: 123%;
    right: 0px;
    width: 200px;
  
}
.has-submenu:hover .submenu{
  display: block;
}
/*style wellcome*/
.wellcom{
  background-color: rgba(8, 7, 7, 0.527);
  height: 570px;
}
.wellcom h1,p{
  color: #fff;
  position: relative;
  top: 20%;
}

.wellcom input {
  padding: 10px 20px;
  font-family: 'myfont';
  cursor: pointer;
  position: absolute;
  top: 64%;
  left: 28%;
  width: 48%;
}
.wellcom input:hover{
  background-color: green;
}
